*{
    margin: 0;
    padding: 0;
}
body{
    width: 1000px;
    height: 900px;
    margin: 0px auto;
    background-color: pink;
}
.header{
    background-image: url(images/cloud.png);
    margin: 0px auto;
    width: 980px;
    height: 125px;
    position: fixed;
}
#container{
    text-align: center;
    padding-top: 135px;
}
p{
    color: black;
}